@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

div {
    margin: 10px;
    background-color: blue;
}
.testing {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 2fr;
    gap: 30px;
    justify-content: center;
    align-content: center;
    

}
